dfs-ui.duckdns.org {
    encode gzip

    # API → Spring Boot backend
    handle /api/* {
        reverse_proxy https://dfs-api.duckdns.org
    }

    # Angular SPA
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
